<!DOCTYPE html>
<html>
  <head>
    <title>MuslimMessageBoard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= 
          link_to "Muslim Connect", 
          root_path, 
          class: "navbar-brand" 
        %>
      </div>
        <li class="nav-item">
           <%= 
              link_to "Dashboard", 
              dashboard_path 
            %>    
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <%= 
                link_to "Discussion", 
                posts_path 
              %>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
          <%= 
            link_to "Community Guidelines",
            rules_path 
          %>
        </a>
        </li>
        <li class="nav-item"> 
         <a class="nav-link"> 
          <%= 
            link_to "Learn More", 
            info_path 
          %>
          </a>         
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <%=
              link_to "Sign Up", 
              new_user_registration_path
            %>  
          </a>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link">
            <%=
              link_to "Sign out", 
              destroy_user_session_path,
              method: :delete
            %>
          </a>
        </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link">
              <%= 
                link_to "Log In",
                new_user_session_path 
              %>
            </a>
          </li>
          <% end %>
        </div>
      </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
